<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNjbSI6W3siaWRlbnRpdHkiOiJzdWJzb25p
		YyIsImxvY2F0aW9uIjoiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL3R3b3N0cmF3
		c1wvU3Vic29uaWMiLCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1aXJlbWVu
		dCI6eyJyYW5nZSI6W3sibG93ZXJCb3VuZCI6IjAuMi4wIiwidXBwZXJCb3Vu
		ZCI6IjEuMC4wIn1dfX1dfV0sIm5hbWUiOiJEQlogTGVnZW5kcyIsInBhY2th
		Z2VLaW5kIjoicm9vdCIsInBsYXRmb3JtcyI6W3sib3B0aW9ucyI6W10sInBs
		YXRmb3JtTmFtZSI6ImlvcyIsInZlcnNpb24iOiIxNS4yIn1dLCJwcm9kdWN0
		cyI6W3sibmFtZSI6IkRCWiBMZWdlbmRzIiwic2V0dGluZ3MiOlt7ImRpc3Bs
		YXlWZXJzaW9uIjpbIjEuMCJdfSx7ImJ1bmRsZVZlcnNpb24iOlsiMSJdfSx7
		ImlPU0FwcEluZm8iOlt7ImFjY2VudENvbG9yQXNzZXROYW1lIjoiQWNjZW50
		Q29sb3IiLCJjYXBhYmlsaXRpZXMiOltdLCJpY29uQXNzZXROYW1lIjoiQXBw
		SWNvbiIsInN1cHBvcnRlZERldmljZUZhbWlsaWVzIjpbInBhZCIsInBob25l
		Il0sInN1cHBvcnRlZEludGVyZmFjZU9yaWVudGF0aW9ucyI6W3sicG9ydHJh
		aXQiOnt9fSx7ImxhbmRzY2FwZVJpZ2h0Ijp7fX0seyJsYW5kc2NhcGVMZWZ0
		Ijp7fX0seyJwb3J0cmFpdFVwc2lkZURvd24iOnsiY29uZGl0aW9uIjp7ImRl
		dmljZUZhbWlsaWVzIjpbInBhZCJdfX19XX1dfV0sInRhcmdldHMiOlsiQXBw
		TW9kdWxlIl0sInR5cGUiOnsiZXhlY3V0YWJsZSI6bnVsbH19XSwidGFyZ2V0
		TWFwIjp7IkFwcE1vZHVsZSI6eyJkZXBlbmRlbmNpZXMiOlt7InByb2R1Y3Qi
		OlsiU3Vic29uaWMiLCJTdWJzb25pYyIsbnVsbF19XSwiZXhjbHVkZSI6W10s
		Im5hbWUiOiJBcHBNb2R1bGUiLCJwYXRoIjoiLiIsInJlc291cmNlcyI6W3si
		cGF0aCI6IlJlc291cmNlcyIsInJ1bGUiOiJwcm9jZXNzIn1dLCJzZXR0aW5n
		cyI6W10sInR5cGUiOiJleGVjdXRhYmxlIn19LCJ0YXJnZXRzIjpbeyJkZXBl
		bmRlbmNpZXMiOlt7InByb2R1Y3QiOlsiU3Vic29uaWMiLCJTdWJzb25pYyIs
		bnVsbF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJwYXRo
		IjoiLiIsInJlc291cmNlcyI6W3sicGF0aCI6IlJlc291cmNlcyIsInJ1bGUi
		OiJwcm9jZXNzIn1dLCJzZXR0aW5ncyI6W10sInR5cGUiOiJleGVjdXRhYmxl
		In1dLCJ0b29sc1ZlcnNpb24iOnsiX3ZlcnNpb24iOiI1LjUuMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		T2lC+tS6RzKGJEYwYtp1zZM1g+q0sQH1yEWzGU2jrx0=
		</data>
		<key>schemaVersion</key>
		<integer>3</integer>
		<key>swiftPMVersionString</key>
		<string>5.5.0</string>
	</dict>
</dict>
</plist>
